
.nav-container{
    height: 50px;
    background-color: #383635;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-left: 70px;
    padding-top: 10px;
}

.nav-container input{
    width: 400px;
    height: 35px;
    font-size: large;
    border-radius: 10px;
    border: none;
}

.nav-container input:focus{
    outline: none;
}

.users-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.45%;
    width: 90%;
    margin: auto;
    position: relative;
    top: 100px;
}

.user-container{
    background-color: #E8CEBF;
    width: 23%;
    margin-bottom: 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 0.9px 0px;
}

.user-container:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px;
}

.img-container{
    position: relative;
    top: 5%;
    left: 27%;
    border-radius: 50%;
}

.name{
    text-align: center;
}

.email{
    text-align: center;
}

@media screen and (max-width: 1380px) {
    .user-container{
        background-color: #E8CEBF;
        width: 31%;
        margin-bottom: 2%;
        border-radius: 15px;
        box-shadow: 0px 0px 0.9px 0px;
    }
    .nav-container{
        padding-left: 70px;
    }
}

@media screen and (max-width: 1190px) {
    .user-container{
        background-color: #E8CEBF;
        width: 48%;
        margin-bottom: 2%;
        border-radius: 15px;
        box-shadow: 0px 0px 0.9px 0px;
    }
    .nav-container{
        padding-left: 60px;
    }

}

@media screen and (max-width: 700px) {
    .user-container{
        background-color: #E8CEBF;
        width: 98%;
        margin-bottom: 2%;
        border-radius: 15px;
        box-shadow: 0px 0px 0.9px 0px;
    }
    .nav-container{
        padding-left: 30px;
    }
}